
@{
    ViewBag.Title = "Bienvenidos!!";
}

    <center img>
        <h2>Alquiler De VideoJuegos "FUN STATION" - ADMINISTRACIÓN</h2>
    </center>

    <div>
        <center>
            <img src="~/Imagenes/portada1.jpg" alt="AlquilerVJ" style="width:1020px; height:auto;" />
        </center>

    </div>
